html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

@media screen and (min-width: 320px) and (max-width: 800px) {
  body {
    height: 100%;
    width: 75%; } }
.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: visible;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: cover;
  background-attachment: fixed;
  height: 350%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  margin: 0 0 0 0;
  width: 100%;
  z-index: -1; }

.crossfade > figure:nth-child(1) {
  background-image: url("../images/Yosemite%205.jpg"); }

.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url("../images/Mt.%20Fuji.jpg"); }

.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url("../images/Isles.jpg"); }

.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url("../images/Grass%20Blades.jpg"); }

.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url(../images/Bristle%20Grass.jpg); }

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in-out;
    opacity: 0; }
  25% {
    animation-timing-function: ease-out;
    opacity: 1; }
  50% {
    animation-timing-function: ease-out;
    opacity: 1; }
  75% {
    animation-timing-function: ease-out;
    opacity: 0; }
  100% {
    animation-timing-function: ease-out;
    opacity: 0; } }
.btn1, .btn2, .btn3, .btn4, .btn5 {
  display: inline-block;
  font-size: 20px;
  width: 130px;
  height: 50px;
  background: #fff;
  border: 5px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 100px; }

@media screen and (min-width: 320px) and (max-width: 800px) {
  .btn1, .btn2, .btn3, .btn4, .btn5 {
    display: inline-block;
    float: none;
    left: 50%;
    width: 60px;
    height: 25px;
    color: #fff;
    font-size: 12px;
    background: #c0c0c0;
    margin-left: 10px; } }
.btn1:hover {
  box-shadow: ease-out; }

.btn2:hover {
  box-shadow: ease-out; }

.btn3:hover {
  box-shadow: ease-out; }

.btn4:hover {
  box-shadow: ease-out; }

.btn5:hover {
  box-shadow: ease-out; }

.line {
  width: 95%;
  height: 7px;
  background: blue;
  overflow: hidden;
  margin-left: 25px;
  border-radius: 20px;
  margin-top: 50px; }

@media screen and (min-width: 320px) and (max-width: 800px) {
  .line {
    width: 100%;
    margin-left: 80px; } }
div h3 {
  color: blue;
  margin-top: 180px;
  text-align: center;
  font-size: 32px; }

@media screen and (min-width: 320px) and (max-width: 800px) {
  div h3 {
    font-size: 22px;
    margin-top: 200px;
    text-align: center;
    margin-left: 80px; } }
div h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 6em;
  font-weight: bold;
  letter-spacing: 4px;
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
  text-decoration: none;
  color: antiquewhite; }

@media screen and (min-width: 320px) and (max-width: 800px) {
  div h1 {
    position: absolute;
    font-size: 3em;
    text-align: center;
    margin-left: 20px;
    margin-top: 100px; } }
#share-buttons img {
  width: 45px;
  padding: 5px;
  top: 0;
  margin: 0;
  border: 0;
  box-shadow: 0;
  display: inline-block; }

footer {
  font-size: 16px;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background: #999; }
