html {
height: 100%;
width: 100%;
}

.navbar-header a {
    color: beige;
    font-size: 28px;
    margin-top: 0;
}

header {   
/*background-color: lightslategrey;*/
border: 3px solid #000;
height: 80px; 
margin-top: 0px;
text-align: center;
background: rgb(216,224,222); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(216,224,222,1) 0%, rgba(174,191,188,1) 22%, rgba(153,175,171,1) 33%, rgba(142,166,162,1) 50%, rgba(130,157,152,1) 67%, rgba(78,92,90,1) 82%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */   
}

header h1 {
    margin-top: 0;
    font-size: 4em;
    font-family: calibri;
background: url(images/brushed-metal-texture.jpg);
    -webkit-background-clip: text;
	-moz-background-clip: text;
    background-clip: text;
	font-weight:bold;
	letter-spacing:4px;
    text-shadow: 3px 3px 3px #000;
	text-decoration:none;
    color: darkslategrey;   
}

.site-navigation {
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    float: right;
    margin-top: 0px;
    
}
	
.menu {
    display: none;
    position: absolute;
    width:inherit;
    margin: 0;
    list-style: none;
    padding: 0;
}

.menu a {
    /*background-color: #ddd;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+22,99afab+33,8ea6a2+50,829d98+67,4e5c5a+82,0e0e0e+100;Grey+3D */
background: rgb(216,224,222); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(216,224,222,1) 0%, rgba(174,191,188,1) 22%, rgba(153,175,171,1) 33%, rgba(142,166,162,1) 50%, rgba(130,157,152,1) 67%, rgba(78,92,90,1) 82%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #fff;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 10px;
}

.js_toggle-nav:hover, .menu a:hover {
    background-color: #444;
}

.js_toggle-nav {
    /*background-color: #333;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
background: rgb(149,149,149); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    outline: none;
    width: 250px;
    float: right;
}

.site-navigation1 {
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    float: left;
}

.menu2 {
    display: none;
    position: absolute;
    width:inherit;
    margin: 0;
    list-style: none;
    padding: 0;
}

.menu2 a {
    /*background-color: #ddd;*/
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+22,99afab+33,8ea6a2+50,829d98+67,4e5c5a+82,0e0e0e+100;Grey+3D */
background: rgb(216,224,222); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(216,224,222,1) 0%, rgba(174,191,188,1) 22%, rgba(153,175,171,1) 33%, rgba(142,166,162,1) 50%, rgba(130,157,152,1) 67%, rgba(78,92,90,1) 82%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #fff;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 10px;
}

.social-nav:hover, .menu2 a:hover {
    background-color: #444;
}

.social-nav {
    /*background-color: #333;*/
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
background: rgb(149,149,149); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    outline: none;
    width: 250px;
    float: left;
}

.section-heading {
    margin-top: 150px;
    text-align: center;
    color: aquamarine;
    font-size: 50px;
    text-shadow: 5px 8px 5px #000;
}

h3 {
    text-align: center;
    color: aqua;
    text-shadow: 3px 3px 3px #000;
}

.img1 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img2 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img3 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img4 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;   
}
.img5 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img6 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img7 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img8 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img9 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img10 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img11 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img12 {
    box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img13 {
 box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img14 {
box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img15 {
box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.img16 {
box-shadow: 5px 8px 5px silver;
    padding: 10px;
}
.caption1 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption2 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption3 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption4 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption5 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption6 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption7 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption8 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption9 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption10 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption11 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption12 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption13 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption14 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption15 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.caption16 {
    padding: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}